{% extends "template.html.twig" %}

{% block title %}
    {{ firstname }} {{ name }}
{% endblock %}

{% block PageTitle %}
    Bonjour !
{% endblock %}

{% block body %}
    <h1>De la part de {{ firstname }} {{ name }}</h1>
    <p>Bonjour Techwall sf6 !</p>
    Mon url absolue est : {{ url('first') }}
{% endblock %}
    